.logo{
    height:70px;
    width:250px;
    float:left;
}
nav{
	background-color: white;
	font-size:20px;
	width:100%;
}
.mainImg{
	display:block;
	margin-right: auto;
	margin-left: auto;
	opacity:0.5;
}
#hello{
    font-size:25px;
}
.back-btn {
    background-color:white;
	width:30%;
	border:solid 2px white;
	border-radius: 5px;
	display:block;
	text-align:right;
}
*{
    box-sizing: border-box;
     font-family:Calibri;
}
html{
    height:100%;
}
body{
	background-color: #F4F4F4;
	 height:100%;
	 display:flex;
	 flex-direction:column;
}

#menuHeading{
    font-weight:bold;
    font-size:25px;
}
main{
flex:1;}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:60px;
	font-weight:bold;
	text-align: center;
	color: black;
}
.container {
	position: relative;
}

footer{
 background: rgba(236, 236, 236, 0.7);
 opacity:0.7;
 font-weight:bold;
}

.buttonInfo{
	background-color:#CBADDD;
	width:30%;
	border:solid 2px white;
	font-size:20px;
	border-radius: 5px;
	display:block;
	text-align:center;
	margin:auto;
}
.littleSpace{
    height:10px;
}

.hamburgerMenu{
    border-color: #CBADDD;
    border-width:3px;
}
.navbar-toggler:focus{
    color: #CBADDD;

}

.hamburgerMenu .navbar-toggler-icon {
 background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(213, 184, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media(max-width: 1000px) {
	.centered{font-size:50px;}
}
@media(max-width: 780px) {
	.centered{font-size:40px;}
	.buttonInfo{width:50%;}
}
@media(max-width: 680px) {
	.centered{font-size:30px;}
	.buttonInfo{width:70%;}
}
@media screen and (max-width: 576px) {
     .logo{height:70px;width:180px;}
    .navbar-toggler-icon{width: 20px;height: 20px;}
    #menuHeading{font-size:25px;}
    .centered{font-size:20px;}
    .buttonInfo{width:90%;}
}
@media screen and (max-width: 450px) {
    .logo{height:50px;width:140px;}
    .navbar-toggler .navbar-toggler-icon{width:10px;height:10px;padding:8px 8px 8px 8px;}
    #menuHeading{font-size:18px;}
     .nav-link{font-size:18px;}
     #hello{
         font-size:20px;
     }
}